body{
    background-color: black;
}


p{
    background-color: white;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}
p:hover{
    color: red;
}
a{
    color: black;
}
h2{
    color: white;
    text-align: center;
}
#bodyinput{
    display: block;
    width:90%;
    height: 50px;
    border-radius: 10px;
    Margin: 10px;
    text-align: center;
}
#savenote{
    color: red;
    background-color: black;
    border-radius: 10px;
   margin: 10px;
   padding: 10px;
}
#savenote:hover{
    color: black;
    background-color: red;
}
#titleinput{
    display: block;
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}
#articles{
    margin-left: 30px;
    background-color: black;
    margin-top: 25px;
}
h3{
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
#rightSide{
   width: 75%;
    
}
img{
    height: 11%;
    width: auto;
   
    border-radius: 10px;
    opacity: .7;
}
#notes{
    margin-top: 5%;
}
